@import "typography";
body {
    background-color: #4C4C4C;
}
// Skeleton Layout
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
}
.grid {
    margin: 0;
    padding: 0;
    display: flex;
}
.grid-cell {
    // flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    // border: red 1px solid;
}
.row {
    display: flex;
    flex-flow: row wrap;
}
.column {
    display: flex;
    flex-flow: column wrap;
}
// Unique Styles
.modal, .modal-intro {
    padding: 50px;
    background-color: #ffffff;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 2px;
}
.modal {
    width: 400px;
    height: 250px;
}
.modal-intro {
    text-align: center;
    align-items: center;
    // padding-bottom: 5px;
}
.modal img {
     // width: 100%;
     height: 125px;
     margin-bottom: 30px;
}
.modal-intro img {

    padding-bottom: 5px;
}
.helpImg {
    width: 30px;
    height: 30px;
    padding-top: 28px;
    margin-right: 10px;
}
// Inside the wizard
.skip {
    text-align: right;
    flex: 1;
    margin: 0px;
    padding-bottom: 10px;
    padding-right: 70px;
}
.arrow {
    margin: 0;
    padding: 0;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.nav {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.pip, .off {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    margin: 4px;
}
.off {
    background-color: #4c4c4c;
}